
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title></title>
</head>
<body>
 <div class="counter">   
<p> Hello, {{userName}} has been greeted {{count}} times </p>
</div>
<div>
  <button class="backBtn" on type="submit"><a href="/greeted"> Back</a></button>
</div>
</body>
</html>

