body {
  background-image: url("../images/s.jpg"), url("paper.gif");
  background-repeat: no-repeat,repeat;
  background-color: #cccccc;
  background-size: cover
}
.header{
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

.container {
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 20px;
}

.submit {
  padding: 1em
}

.counter {
  padding: 1em;
  font-size: large;
  font: bold;
}

.message {
  padding: 1em;
  margin: 0.5em;
  width: 10em;
  border: 0, 1em solid black;
  border-radius: 0, 20em;
  background-color: burlywood;
  
  
}

.count {
  font: bold;
}

.error {
  font-size: xx-small;
  font-family: monospace;
  font-style: italic;
  color: red;
}

.radiobtn {
  align-self: start;
}
.reset{
  float: left;
    
    
   
    
} 



@media (max-height:600px) {
  .container {
    flex-direction: column;
  }
  body {
    background-color: seagreen;
    
  }
  .message {
    flex-direction: column;
  }
  .radiobtn {
    display:flex
  }
}